@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

svg {
  mar: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.btn {
  display: inline-block;
  background-color: rgb(214, 2, 2);
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background-color: rgb(170, 0, 0);
  cursor: pointer;
}

/* Top Navbar */

.top-nav {
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
}

#burger {
  display: none;
  font-size: 1.5rem;
  color: black;
}

.top-nav__list {
  display: flex;
}

.top-nav__item {
  padding: 1rem;
  margin-top: 0.25rem;
  color: rgb(161, 160, 160);
}

.top-nav__item a {
  color: rgb(161, 160, 160);
}

.top-nav__item.active {
  border-top: solid 0.25rem rgb(214, 2, 2);
  margin-top: 0;
}

.top-nav__item.active a {
  color: rgb(214, 2, 2);
}

.top-nav__item a:hover {
  color: rgb(214, 2, 2);
}

/* Spacer */

.spacer {
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(202, 202, 202);
  height: 1rem;
}

/* Main Nav */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(202, 202, 202);
  color: rgb(107, 107, 107);
  font-size: 0.75rem;
}

.main-nav a {
  color: rgb(107, 107, 107);
}

.main-nav a:hover {
  color: rgb(214, 2, 2);
  border-bottom: solid rgb(214, 2, 2) 2px;
  margin-bottom: -2px;
}

.logo {
  height: 4rem;
  padding: 1rem 1rem 1rem 0;
}

.logo img {
  height: 100%;
}

.main-nav__links {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.main-nav__links li {
  font-weight: bold;
  margin-left: 1.5rem;
}

.main-nav__actions {
  display: flex;
  justify-content: center;
}

.main-nav__actions i {
  font-size: 1.25rem;
  padding: 1.5rem;
  border-left: 1px solid rgb(202, 202, 202);
  display: flex;
  align-items: center;
}
.main-nav__actions:last-child {
  border-right: 1px solid rgb(202, 202, 202);
}
.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.slideshow {
  height: 400px;
  background: url("img/slideshow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 0;
  display: flex;
  align-items: center;
}

.slideshow-inner {
  padding: 4rem;
}

.slideshow-inner h1 {
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.trend {
  text-align: center;
}

.trend h2 {
  display: inline-block;
  padding: 2rem;
  width: 100%;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 3rem 0;
  height: auto;
}

.card {
  height: auto;
}
.card img {
  width: 100%;
}

.card h3 {
  display: inline-block;
  border-bottom: 1px solid rgb(202, 202, 202);
  width: 100%;
  padding: 1rem;
}

.card p {
  display: block;
  padding: 1rem;
}

/* Footer */

.footer {
  width: 100vw;
  background-color: rgb(15, 15, 15);
  margin-top: 7rem;
}

.top-footer {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.top-footer__logo {
  width: 150px;
  height: 75px;
  background: url("img/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  grid-column: 1 / 2;
  margin-right: 2rem;
}

.top-footer__info {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-column: 2/7;
}

.info__form {
  color: white;
  border: 1px solid rgb(161, 160, 160);
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
}

.info__text {
  margin: 1.5rem 0;
}

.info__text h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.info__text p {
  font-size: 1.2rem;
  color: rgb(161, 160, 160);
}
.info__form input {
  border: none;
  border-radius: 0;
  background-color: rgb(15, 15, 15);
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  padding: 1rem;
}

.info__form input:focus {
  outline: none;
}

.btn__sign {
  border-radius: 0;
  margin: 1rem;
}

.footer-cards {
  color: white;
  grid-column: 2/7;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(5, 1fr);
  justify-items: stretch;
}

.footer-card {
  margin: 2rem 0;
  padding: 1rem 0;
  border-top: 1px solid rgb(161, 160, 160);
}

.footer-card h3 {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.footer-card li {
  margin-bottom: 1rem;
  color: rgb(161, 160, 160);
  cursor: pointer;
  font-size: 0.9rem;
}

.top-footer-links {
  color: white;
  grid-column: 2/7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nation {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 30px;
  font-size: 0.75rem;
}
.social {
  font-size: 2rem;
  padding: 1rem 0;
}
.social i {
  margin: 0 1rem;
}
/* Media */

@media (max-width: 1200px) {
  #burger {
    display: block;
    margin-right: 1rem;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .main-nav__links {
    display: none;
  }

  .top-footer {
    height: auto;
    grid-template-columns: 1fr;
  }
  .top-footer__logo {
    grid-column: 1/2;
  }
  .top-footer__info {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    grid-column: 1/2;
  }

  .footer-cards {
    grid-column: 1/2;
    grid-template-columns: repeat(3, 1fr);
  }

  .info__form {
    margin: 0;
  }

  .top-footer-links {
    color: white;
    grid-column: 1/2;
  }
}

@media (max-width: 786px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .footer-cards {
    grid-template-columns: 1fr 1fr;
  }

  .top-footer-links {
    flex-direction: column;
  }
}
